.vs/
bin/
obj/
packages/

*.DotSettings
*.user

# We want to preserve the extensionless file, but we do not want to commit this one.
# This is a workaround to a broken licensing migration path.
LICENSE.txt
